<section
	style="
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;">
	<form id="draw">
		<span>
			<label>
				User Name: <input id="name" type="text" name="username" minlength="1" maxlength="32"/>
			</label>
		</span><br>
		<span>
			<label>
				Room ID (leave empty to create a new room): <input id="roomId" type="text" name="roomId" />
			</label>
		</span><br>
		<span>
			<input type="submit" value="GO!!!"/>
		</span>
	</form>
</section>