<section
	style="
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;">
	<canvas 
		id="screen" 
		style="
			width: calc(100% - 50px);
			height: calc(100% - 50px);
			border: darkgrey 1px solid;">		
	</canvas>
</section>